.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Change this to adjust the container height */
}

img {
  max-width: 100%; /* Change this to adjust the image size */
  height: auto;
  object-fit: contain;
  margin: 10px;
}
  