/* .portfolio-choice-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}


.portfolio-choice {
    height: 400px;
    width: 240px;
} */


.portfolio-choice-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  .portfolio-choice {
    width: 100%;
    height: auto;
    max-width: 600px; /* set a max width to prevent images from getting too large */
    max-height: 900px; /* set a max height to prevent images from getting too tall */
  }
  
  .portfolio-choice img {
    width: 100%;
    height: 200%;
    object-fit: cover; /* set the object-fit property to cover to prevent the image from distorting */
  }
  
  
  
  .portfolio-filtered {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 50px;
  }
  
  .portfolio-filtered img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    .portfolio-choice-container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .portfolio-filtered {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  